@tailwind base;
@tailwind components;
@tailwind utilities;

.Toastify__toast-body {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
}

#hiveGrid {
  display: grid;
  grid-gap: 6px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 250px;
  margin: 0 auto;
  font-size: 0.9em;
  list-style-type: none;
  overflow: hidden;
}

.hive {
  grid-column-end: span 2;
  position: relative;
  visibility: hidden;
  background-color: yellow;
  outline: 1px solid transparent;
}

.hive::after {
  content: "";
  display: block;
  padding-bottom: 95.602%;
}

.hiveArea {
  position: absolute;
  width: 100%;
  padding-bottom: 115.47%;
  overflow: hidden;
  visibility: hidden;
  outline: 1px solid transparent;
  transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
}

.hiveArea * {
  position: absolute;
  visibility: visible;
  outline: 1px solid transparent;
}

.hiveShape {
  transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
}

.hiveShape:hover p,
.hiveShape:focus p {
  background-color: rgba(
    255,
    177,
    3,
    0.76
  );
}

#center-letter.hiveShape:hover p,
#center-letter.hiveShape:focus p {
  background-color: gray;
}

#hiveGrid {
  grid-template-columns: repeat(6, minmax(0, 1fr));
  padding-bottom: 5.4%;
  margin-bottom: 2vh;
}

.hive:nth-child(5n + 1) {
  /* first hexagon of odd rows */
  grid-column-start: 2;
}

.hive:nth-child(5n + 3) {
  /* first hexagon of even rows */
  grid-column-start: 1;
}
